# Startups Profit Predictions Using Multiple Linear Regression

### Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing the dataset

In [2]:
data= pd.read_csv('Startups.csv')

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### 'State' is Categorical Variable
### Encoding the Categorical Variable 'State'

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()

In [5]:
data['State'] = labelencoder.fit_transform(data['State'])

In [6]:
data['State'] = data['State'].astype('category')

In [7]:
data.head()

   R&D Spend  Administration  Marketing Spend State     Profit
0  165349.20       136897.80        471784.10     2  192261.83
1  162597.70       151377.59        443898.53     0  191792.06
2  153441.51       101145.55        407934.54     1  191050.39
3  144372.41       118671.85        383199.62     2  182901.99
4  142107.34        91391.77        366168.42     1  166187.94

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null category
Profit             50 non-null float64
dtypes: category(1), float64(4)
memory usage: 1.8 KB

### Splitting into Training & Test set

In [9]:
X = data.iloc[:, :-1].values
y = data.iloc[:, 4].values

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 101)

### Fitting Multiple Linear Regression model to Training set

In [11]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

### Predicting the Test set results

In [12]:
y_pred = lm.predict(X_test)
y_pred

array([ 87489.00486178, 151644.3532727 , 120818.47078097,  99035.91284154,
       116348.11087532, 190757.09459372, 112197.44619762,  58610.93439069,
        70436.43768053,  47522.77267252, 117593.73692473, 113711.67754523,
       161858.77521347])

### Accuracy

In [13]:
lm.score(X_test,y_test)

0.9594294155344931

## Accuracy is 95.94 %

# --------------------------------------------------------------------------------------------------------